<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>
	<include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

	<logger name="org.springframework" level="WARN"/>
	<logger name="org.hibernate" level="WARN"/>

	<springProfile name="local">
		<!-- Log legível para humanos no console local, incluindo MDC -->
		<appender name="CONSOLE_LOCAL" class="ch.qos.logback.core.ConsoleAppender">
			<encoder>
				<pattern>%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr(${PID:- }){magenta} %clr(---){faint}%clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %clr([%X{operation:-no-op}] [%X{service:-no-svc}]){yellow} %m%n%wEx</pattern>
			</encoder>
		</appender>

		<root level="INFO">
			<appender-ref ref="CONSOLE_LOCAL"/>
		</root>
	</springProfile>

	<springProfile name="!local">
		<!-- Appenders JSON estruturados exclusivos para ambientes não-locais -->
		<appender name="JSON_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
			<target>System.out</target>
			<encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
				<providers>
					<timestamp/>
					<logLevel/>
					<threadName/>
					<loggerName/>
					<message/>
					<arguments/>
					<stackTrace/>
					<mdc/>
					<globalCustomFields>
						{"service.name":"${spring.application.name:-unknown}","deployment.environment":"${spring.profiles.active:-default}"}
					</globalCustomFields>
				</providers>
			</encoder>
		</appender>

		<appender name="JSON_STDERR" class="ch.qos.logback.core.ConsoleAppender">
			<target>System.err</target>
			<encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
				<providers>
					<timestamp/>
					<logLevel/>
					<loggerName/>
					<message/>
					<stackTrace/>
					<mdc/>
				</providers>
			</encoder>
			<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
				<level>ERROR</level>
			</filter>
		</appender>

		<appender name="ASYNC_JSON" class="ch.qos.logback.classic.AsyncAppender">
			<queueSize>8192</queueSize>
			<discardingThreshold>0</discardingThreshold>
			<neverBlock>true</neverBlock>
			<appender-ref ref="JSON_STDOUT"/>
			<appender-ref ref="JSON_STDERR"/>
		</appender>

		<root level="INFO">
			<appender-ref ref="ASYNC_JSON"/>
		</root>
	</springProfile>

</configuration>
